<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  
  <body>
    <h1>Today</h1>
    <p>
      <% date = DateTime.now 
          day = date.wday
          month = date.month
          day_num = date.day
          year = date.year %>
      The date is <%= day %>, <%= month %> <%= day_num %>, <%= year %>
    </p>
  </body>
</html>