<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  
  <body>
    <h1>Today</h1>
    <p>
      <% date = DateTime.now 
          day = date.wday
          month = date.month
          day_num = date.%>
    </p>
  </body>
</html>